<!--      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">-->
<body class="bg-light">
    <div class=""  id="panel-dashboard" >
        <h1 class="h2">Dashboard</h1>
<!--        <div class="weather-data"><h3>hello there <span id="w-date-time">asdfasf</span></h3></div>-->
        <div class="weather-data">
            <h5><span id="w-time-stamp"></span>&nbsp;&nbsp;&nbsp;<span id="w-temperature"></span>&nbsp;&nbsp;&nbsp;<span id="w-humidity"></span>&nbsp;&nbsp;&nbsp;<span id="w-pressure"></span></h5>
        </div>
        <section id="dashboardSensorsAll">
            <div id="sensorReadingsAll">
            </div>
        </section>
        <section id="dashboardCards">
            <div class="container mt-4 ">
                <div class="row" id="db-sensors-div">
                </div>
            </div>
            <div class="container mt-4 ">
                <div class="row" id="db-valves-div">
                </div>
            </div>
        </section>

        <div class="container-fluid p-4" id="chart-sensor-1"></div>

    </div>
</body>