{%  extends "base.html" %}
{% block content %}
<div class = "jumbotron">
    <h2>List of Recent Sensor Reading Data</h2>
    <br>
 <div class="container">
  <div class="row">
    <div class="col-sm">
      <strong>Key</strong>
    </div>
    <div class="col-sm">
      <strong>Date</strong>
    </div>
     <div class="col-sm">
      <strong>Time</strong>
    </div>
    <div class="col-sm">
      <strong>Sensor Id</strong>
    </div>
    <div class="col-sm">
      <strong>KPa Value</strong>
    </div>
    <div class="col-sm">
      <strong>Min Freq</strong>
    </div>
    <div class="col-sm">
      <strong>Max Freq</strong>
    </div>
    <div class="col-sm">
      <strong>Computed Freq</strong>
    </div>
    <div class="col-sm">
      <strong>Mean</strong>
    </div>
    <div class="col-sm">
      <strong>STD Dev</strong>
    </div>
  </div>
    {% for nxtreading in readings %}
    <div class="row">
        <div class="col-sm">
            {{ nxtreading.p_key}}
        </div>
        <div class="col-sm">
            {{ nxtreading.recorded_at|formatdatetime('%b-%d')}}
        </div>
         <div class="col-sm">
            {{ nxtreading.recorded_at|formatdatetime('%X ')}}
        </div>
        <div class="col-sm">
            {{ nxtreading.sensor_id}}
        </div>
        <div class="col-sm">
            {{ nxtreading.kpa_value|round(2)}}
        </div>
        <div class="col-sm">
            {{ nxtreading.min_frequency|round(2)}}
        </div>
        <div class="col-sm">
            {{ nxtreading.max_frequency|round(2) }}
        </div>
        <div class="col-sm">
            {{ nxtreading.computed_frequency|round(2)}}
        </div>
        <div class="col-sm">
            {{ nxtreading.mean|round(2)}}
        </div>
        <div class="col-sm">
            {{ nxtreading.std_dev|round(2)}}
        </div>
    </div>
    {% endfor %}
</div>
</div>
{%  endblock %}

