ads1015==0.0.8
alembic==1.8.1
amqp==5.1.1
appdirs==1.4.4
APScheduler==3.9.1
asn1crypto==1.5.1
astroid==2.11.7
asttokens==2.0.7
automationhat==0.4.1
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
billiard==4.0.2
blinker==1.5
blinkt==0.1.2
buttonshim==0.0.2
cached-property==1.5.2
Cap1xxx==0.1.4
certifi==2022.6.15
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
colorzero==2.0
cookies==2.2.1
cryptography==37.0.4
cupshelpers==1.0
cycler==0.11.0
debugpy==1.6.2
decorator==5.1.1
dill==0.3.5.1
distro==1.7.0
docutils==0.19
drumhat==0.1.0
entrypoints==0.4
envirophat==1.0.1
ExplorerHAT==0.5.1
Flask==2.2.2
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
fonttools==4.34.4
fourletterphat==0.1.0
future==0.18.2
gpiozero==1.6.2
guizero==1.3.0
html5lib==1.1
i2cdevice==0.0.7
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.9.0
ipykernel==6.15.1
ipython==7.34.0
ipython-genutils==0.2.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.2
jupyter-client==7.3.4
jupyter-core==4.11.1
keyring==23.8.2
keyrings.alt==4.1.1
kiwisolver==1.4.4
kombu==5.2.4
lazy-object-proxy==1.7.1
logilab-common==1.9.7
lxml==4.9.1
Mako==1.2.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.3
mccabe==0.7.0
microdotphat==0.2.2
mote==0.0.4
motephat==0.0.3
mypy==0.971
mypy-extensions==0.4.3
nest-asyncio==1.5.5
nudatus==0.0.5
numpy==1.22.0
oauthlib==3.2.0
olefile==0.46
packaging==21.3
pantilthat==0.0.7
parso==0.8.3
pexpect==4.8.0
pgzero==1.2.1
phatbeat==0.1.1
pi-plates==9.10
pianohat==0.1.0
picamera==1.13
pickleshare==0.7.5
picraft==1.0
piglow==1.2.5
pigpio==1.78
Pillow==9.2.0
pip-review==1.1.1
platformdirs==2.5.2
prompt-toolkit==3.0.30
psutil==5.9.1
ptyprocess==0.7.0
pycairo==1.21.0
pycodestyle==2.9.1
pycparser==2.21
pycrypto==2.6.1
pycups==1.9.73
pyflakes==2.5.0
pygame==2.1.2
Pygments==2.12.0
PyGObject==3.30.4
pyinotify==0.9.6
PyJWT==2.4.0
pylint==2.14.5
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyserial==3.5
pysmbc==1.0.15.6
python-apt==1.8.4.3
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.28
pyzmq==23.2.1
qtconsole==5.3.1
QtPy==2.2.0
rainbowhat==0.1.0
reportlab==3.5.13
requests==2.28.1
requests-oauthlib==1.3.1
responses==0.21.0
roman==3.3
RPi.bme280==0.2.4
RPi.GPIO==0.7.1
RTIMULib==7.2.1
scrollphat==0.0.7
scrollphathd==1.3.0
SecretStorage==3.3.3
semver==2.13.0
Send2Trash==1.8.0
sense-emu==1.2
sense-hat==2.4.0
simplegeneric==0.8.1
simplejson==3.17.6
six==1.16.0
skywriter==0.0.8
smbus2==0.4.2
sn3218==2.0.0
soupsieve==2.3.2.post1
spidev==3.5
SQLAlchemy==1.4.40
ssh-import-id==5.11
ST7735==0.0.4.post1
thonny==3.3.14
tomli==2.0.1
tomlkit==0.11.4
tornado==6.2
touchphat==0.0.2
traitlets==5.3.0
twython==3.9.1
typed-ast==1.5.4
typing-extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
uflash==1.2.4
unicornhathd==0.0.4
urllib3==1.26.11
vine==5.0.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==2.2.2
wrapt==1.14.1
WTForms==3.0.1
zipp==3.1.0
